<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>
<body>
<div class="text-center bg-danger text-light py-2 font-weight-bolder" style="font-size:3em;">The BroadCast</div>


{% include 'includes/nav.html' %}


<div class="container mt-4" id="main">

    {% include 'includes/_messages.html' %}
        
    {% block main %}
    
    {% endblock %}

    
</div>

{% include "includes/footer.html" %}

<script src="//cdn.ckeditor.com/4.14.1/basic/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor1')
</script>
</body>
</html>
